<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio</title>

	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/cyborg/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main-style.css">

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<img class="img-responsive img-rounded" id="profile" src="images/profile.jpg">
						<br>
						<p class="sideNavInfo">Dong Son</p>
						<p class="sideNavInfo">Full-Stack Web Developer</p>
					</div>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#" class="list-group-item">Home</a></li>
						<li><a href="#" class="list-group-item">Github Repos</a></li>
						<li><a href="#" class="list-group-item">Projects</a></li>
						<li><a href="#" class="list-group-item">About Me</a></li>
						<li><a href="#" class="list-group-item">Contact</a></li>
					</ul>
					<br>

					<div class="col-md-offset-2">
						<p align="left"> Follow me on Soclai Media!   <span class="glyphicon glyphicon-hand-down"></span></p>
						<a href="https://www.facebook.com/d1son">
						<img title="Facebook" alt="Facebook" src="images/facebookIcon.png" width="35" height="35" />
						</a>
						<a href="https://github.com/d1son">
						<img title="Github" alt="Github" src="images/githubIcon.png" width="35" height="35" />
						</a>
						<a href="https://www.instagram.com/d1son/">
						<img title="Instagram" alt="Instagram" src="images/instagramIcon.png" width="35" height="35" />
						</a>
						<a href="https://www.linkedin.com/in/dongson">
						<img title="Linkedin" alt="Linkedin" src="images/linkedinIcon.png" width="35" height="35" />
						</a>
						<a href="https://twitter.com/dson120">
						<img title="Twitter" alt="Twitter" src="images/twitterIcon.png" width="35" height="35" />
						</a>
					</div>
				</div>
			</div>
		
			<div class="col-md-9" id="aboutME">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title">About Me</div>
							<div class="panel-body">
							<p> My name is Dong Son | Born in South Korea | Raised in New Jersey | Attended university at The University at Buffalo | Nerd at heart | NY Giants | Black Mamba | Asipiring to become a Full-Stack Developer,Video Game / Software Developer | Lover of all sports but Basketball and Football of them all | Lover of FOOD    </p>
								<h5>Goals</h5>
								<h6>Video Game Developer</h6>
								<p class="main-body">I have aspirations to become a Video Game Developer. Ever since the first time I played Super Mario Bros. and Duck Hunt on my NES (Nintendo Entertainment System) all I wanted to do was play games. Since the good old NES days, the video game world has changed drastically in a relatively short period of time. As I matured I not only wanted to play these games, but also be on a team to develop them as well. Becoming a Video Game Developer will not only let me enjoy playing new video games, but help create them as well. I want to be part of a team that creates an innovative, yet unique game that everyone, young and old, can enjoy.</p> 
								<br>
								<h6>Software Developer</h6>
								<p class="main-body"> I have a passion for problem solving and helping others. Software Development will help me live my passion. I would love to create a system that will help the client solve a problem while simultaneously facilitating the client's day to day operations.</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>	

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">Education</h4>
							<div class="panel-body">
								content
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">Experience</h4>
							<div class="panel-body">
								content
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">Github Repos / Projects</h4>
							<div class="panel-body">
								<table class="table table-striped">
									<thead>
					          <th>SHA</th>
					          <th>Author</th>
					          <th>Commit Message</th>
					        </thead>
				        <tbody></tbody>
							</table>
							<div class="row">
								<div class="col-md-12">
								<br>
								<h6>Click to see details about the Repo</h6>
								<div class="list-group">
								</div>
								</div>	
							</div>	
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-md-offset-3">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">Skills</h4>
							<div class="panel-body">
								content
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-md-offset-3">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">Hobbies</h4>
							<div class="panel-body">
								content
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		




	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/repo-commits.js"></script>
	<script type="text/javascript" src="js/repo-ajax.js"></script>
	

</body>
</html>